/* mobile */
@media screen and (max-width: 567px) {
    .les_cercles{
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    svg{
        position: relative;
        top: -190px;
        left: -25px;
    }
    .exp{
       display: flex;
       flex-direction: column;
       align-items: center;
    }

    .container_sec{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 0px;
    }

    .sec_2 .h1,
    .sec_3 .h1,
    .sec_4 .h1{
        
    }

    .d-1-1, .d-1-2 {
        margin-top: 0px;
    }

    .porfolio{
        display: grid;
        grid-template-columns: repeat(1, 3fr);
    }
}

